@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    font-family: 'Mulish', sans-serif;
    outline: none;
    color: black;
}

body{
    font-family: 'Mulish', sans-serif;
    padding: 0.2% 0.2% 0% 0.2%;  
    text-align: center;
    background-color: #eeeeee;

}
header{
    height: 30px;
    padding: 0.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 28px; 
}

.navs{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 2% 0% 2% 0%;
    width: 30%;
    height: 20px;
}

button{
    border: none;
    background: #f1c410;
    font-weight: 800;
    width: auto;
    height: 25px;
    margin-bottom: 8%;


}

.showcase{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    margin: 3% auto;
}
.showcase img{
    width: 50px;
    margin: 0px 50px 0px 50px;
}

h1{
    margin: 0.5% 0% 0.5% 0%; 
    font-weight: 800;
}

h2{
    margin: 0;
    font-weight: 800;
}

p{
    font-weight: 900;  
}

section{
    opacity: 0.9;
    font-weight: 100;
    text-align: left;
    margin: 0.5% auto;
    width: 50%;
    padding: 1%;
    border-radius: 5px;
}

.video{
    display: flex;
    justify-content: center;
    margin: 8% auto;
}

.three{
    
    display: flex;
    justify-content: center;
    margin: 5% auto;
}

p{
font-weight: 600;
}

.box{
    width: 28%;
    text-align:center;
    border:2px solid black;
    margin: auto 2%;
}

.box h3{
    background: #dddddd;
    padding: 3%;
}


.box h2{
    margin: 7% auto;
    font-weight: 800;
}

.box p{
    margin: 7% auto;
}

footer{
    background: #dddddd;  
    padding: 2% 1% 2% 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
}


.footernavs{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


